{% extends "front/base.html" %}
{% block content %}
<h2>Leaderboard:</h2>
<table class="table table-condensed table-striped">
    <thead>
        <tr>
        <th><h5>Rank</h5></th>
        <th><h5>User</h5></th>
        <th><h5>Points</h5></th>
        <th><h5>Bets Won</h5></th>
        <th><h5>Total bets</h5></th>
        </tr>
    </thead>
    <tbody>
    {% for record in records %}
        {% if record.total_bets != 0 %}
            <tr>
            <th><p>{{ forloop.counter }}.</p></th>
            {% if forloop.counter == 1 %}
                <th><img class="img-thumbnail-1" style="height:3em" src="{{record.user.profile.image.url}}"><a href = "{% url 'publicProfile' ui=record.user.username %}" itemprop="url"> {{ record.user }}</a></th>
            {% else %}
                <th><img class="img-thumbnail" style="height:3em" src="{{record.user.profile.image.url}}"><a href = "{% url 'publicProfile' ui=record.user.username %}" itemprop="url"> {{ record.user }}</a></th>
            {% endif %}
            <th>{{ record.points }}</th>
            <th>{{ record.bets_won }}</th>
            <th>{{ record.total_bets }}</th>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
    </table>
    {% if request.user.is_authenticated %}
    <h2>Your Stats:</h2>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
            <th><h5>User</h5></th>
            <th><h5>Points</h5></th>
            <th><h5>Bets Won</h5></th>
            <th><h5>Total bets</h5></th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th><img class="img-thumbnail" style="height:3em" src="{{request.user.profile.image.url}}">{{ request.user }}</th>
            <th>{{ p_record.points }}</th>
            <th>{{ p_record.bets_won }}</th>
            <th>{{ p_record.total_bets }}</th>
            </tr>
        </tbod>
    </table>
    {% endif %}
{% endblock content %}