{% extends "front/base.html" %}
{% block content %}
    <h2>You have been logged out</h2>
    <div class="border-top pt-3">
        <a href="{% url 'login' %}">Log In Again</a>
    </div>
{% endblock content %}