{% extends "front/base.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <img style="max-width:10em;" class="d-inline-block img-thumbnail" src="{{curr_user.profile.image.url}}"></img>
          <h2 class="account-heading d-inline-block">{{ curr_user.username }}</h2><br/>
          <p>Team:<a href="https://www.thebluealliance.com/team/{{ curr_user.profile.team }}"> {{ curr_user.profile.team }}</a></p>
          <h2>{{ curr_user.username }}'s Stats:</h2>
          <h4>Total Points: {{ record.points }}</h4>
          <h4>Bets Won: {{ record.bets_won }}</h4>
          <h4>Total Bets: {{ record.total_bets }}</h4>
        </div>
      </div>
    </div>
    <br/>    
    <h2><u>Recent Activity: </u></h2>
    <h3>Active Bets: </h3> 
    <div class="col-sm-8" >
        {% if matches_active %}
             {% include "front/match_list.html" with matches=matches_active is_my_bets_page=False show_match_key=True %}
        {% else %}
            <p>{{ curr_user.username }} doesn't have any active bets yet. Come back later.</p>
        {% endif %}
    </div>
    </br>
    
{% endblock content %}