{% extends "front/base.html" %}
{% block content %}
<h2>What is FRCBets?</h2>
<p>FRCBets was created on the premise of making scouting matches for the <i>FIRST</i>® Robotics Competition a little more fun. By testing your prowess for match prediction, 
FRCBets gives users the chance to compete against each other for points known as "BotBucks 💸". FRCBets allows users to "bet" for the alliances that they think 
will win in any given match. Bet on an "underdog" alliance and win your bet, you'll recieve a larger bonus than if you bet on an expected winner and won. Check the leaderboard
and see how your skills compare to your friends.
</p>

<h2>How To Play:</h2>
<p>You gain points in FRCBets by "betting" in matches. Don't worry, no money is exchanged during the betting process, only "BotBucks 💸". Everyone starts with 1000.00 💸, which can be used 
to place a bet on any given alliance during the duration of an event. FRCBets predicts the outcome of a match before it is played using a simple cumulative OPR for each alliance. We use this data to 
predict the winning margin an alliance might have during a match. Our system automatically places BotBucks on both the predicted winner and loser for every match. There is always incentive to bet on a match, regardless 
of how many people are participating in a match. In addition, the sum of the losing betting pool will be split evenly among the winners.
</p>


{% endblock content %}