

<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="customRadioInline1" name="alliance" class="custom-control-input" value="B" required>
  <label class="custom-control-label" for="customRadioInline1">Blue</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="customRadioInline2" name="alliance" class="custom-control-input" value="R">
  <label class="custom-control-label" for="customRadioInline2">Red</label>
</div>
<br>
<label for="amount">Amount:</label>
<input type="number" min="0" max="{{ BET_CAP }}" class="form-control" id="amount" required>