{% load timestamp %}
<table class="match table-responsive">
    {% if matches %}
    <thead>
        <tr>
        <th rowspan="2">Match</th>
        <th colspan="12">Red Alliance</th>
        <th colspan="4" rowspan="2">Bets</th>
        {% if request.user.is_authenticated %}
            <th colspan="4" rowspan="2">
                {% if is_my_bets_page %}
                    My Bets
                {% else %}
                    <a href="/my-bets">My Bets</a>
                {% endif %}
            </th>
        {% endif %}
        <th rowspan="2">Winner</th>
        <th rowspan="2">Winnings</th>
        </tr>
        <tr>
        <th colspan="12">Blue Alliance</th>
        </tr>
    </thead>
    <tbody>
    
    {% for match in matches %}
        <tr class="{{match.id}}">
        <td rowspan="2"><a href = "{% url 'match_detail' mt=match.key %}" title="{{ match.number }}" itemprop="url"><span itemprop="summary">
            {% if show_match_key %}
                {{ match.event.key }} {{ match.key }}
            {% else %}
                {{ match.key }}
            {% endif %}
        </span></a></td>
        <td class = "red" colspan="4"><a href = "https://www.thebluealliance.com/team/{{match.red0}}">{{match.red0}}</a></td>
        <td class = "red" colspan="4"><a href = "https://www.thebluealliance.com/team/{{match.red1}}">{{match.red1}}</a></td>
        <td class = "red" colspan="4"><a href = "https://www.thebluealliance.com/team/{{match.red2}}">{{match.red2}}</a></td>
        <td class = "red" colspan="4" id="redBet">{{match.get_bets_on_red|stringformat:"1.2f"}} 💸</td>
        {% if match.user_bet is not None and match.user_bet.placed_on == 'R'%}
            <td id="userBet" class = "red" colspan="4" rowspan="2">{{match.user_bet.amount|stringformat:"1.2f"}} 💸 on <b>red</b></td>
        {% elif match.user_bet is not None and match.user_bet.placed_on == 'B'%}
            <td id="userBet" class = "blue" colspan="4" rowspan="2">{{match.user_bet.amount|stringformat:"1.2f"}} 💸 on <b>blue</b></td>
        {% elif request.user.is_authenticated %}
            {% if match.is_betting_open %}
                <td id="userBet" colspan="4" rowspan="2">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#betModal" onclick="setMatch({{match.id}})">
                        Place bet
                    </button>
                </td>
            {% else %}
                <td id="userBet" colspan="4" rowspan="2"></td>
            {% endif %}
        {% endif %}
            <td rowspan="2" 
                {% if match.actual_winner == 'R' %}
                    class="red"><b>Red</b>
                {% elif match.actual_winner == 'B' %}
                    class="blue"><b>Blue</b>
                {% else %}
                    ><b>Tie</b>
                {% endif %}
            </td>
            <td rowspan="2">
                {{match.user_bet.winnings|stringformat:"1.2f"}} 💸
            </td>
        </tr>
        
        <tr class="{{match.id}}">
        <td class = "blue" colspan="4"><a href = "https://www.thebluealliance.com/team/{{match.blue0}}">{{match.blue0}}</a></td>
        <td class = "blue" colspan="4"><a href = "https://www.thebluealliance.com/team/{{match.blue1}}">{{match.blue1}}</a></td>
        <td class = "blue" colspan="4"><a href = "https://www.thebluealliance.com/team/{{match.blue2}}">{{match.blue2}}</a></td>
        <td class = "blue" colspan="4" id="blueBet">{{match.get_bets_on_blue|stringformat:"1.2f"}} 💸</td>
        </tr>
        
    {% endfor %}
    </tbody>
</table>
    {% else %}
    <p>No Matches To Display Yet, Check Back Later!</p>
    {% endif %}