{% extends "front/base.html" %}
{%block scripts%}
<script>
$(document).ready(function(){
        var ctx = document.getElementById('betTeams').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{%for team in teamBets%}'{{team.number}}',{%endfor%}], //loop through queryset, 
                datasets: [{
                    label: '# of bets',
                    data: [{%for team in teamBets%}{{team.bets}},{%endfor%}],
                    backgroundColor: [
                        'rgba(99, 139, 149, 0.5)',
                        'rgba(115, 136, 136, 0.5)',
                        'rgba(131, 133, 123, 0.5)',
                        'rgba(147, 130, 110, 0.5)',
                        'rgba(163, 127, 97, 0.5)',
                        'rgba(180, 125, 83, 0.5)',
                        'rgba(196, 122, 70, 0.5)',
                        'rgba(212, 119, 57, 0.5)',
                        'rgba(228, 116, 44, 0.5)',
                        'rgba(244, 113, 31, 0.5)',
                        ],
                    borderColor: [
                        'rgba(99, 139, 149, 1)',
                        'rgba(115, 136, 136, 1)',
                        'rgba(131, 133, 123, 1)',
                        'rgba(147, 130, 110, 1)',
                        'rgba(163, 127, 97, 1)',
                        'rgba(180, 125, 83, 1)',
                        'rgba(196, 122, 70, 1)',
                        'rgba(212, 119, 57, 1)',
                        'rgba(228, 116, 44, 1)',
                        'rgba(244, 113, 31, 1)',
                        ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        });
</script>
{%endblock scripts%}

{% block content %}
{% if matches %}
<h2>{{ event.name }} Matches:</h2>
<br />
<div class="row">
<div class="col-sm-8" >
    {% include "front/match_list.html" with matches=matches %}
</div>
<div class="col-sm-4">
    <h2>Top 10 Most Bet On Teams:</h2>
    <canvas id="betTeams" width="400" height="400"></canvas>
</div>
</div>
{% else %}
<h2>Matches Will Open For Betting Soon.</h2>
<hr />
{% if teams %}
<h2>Teams Competing @ {{ event.name }}:</h2>
<br />
<div class="col-sm-12" >
<table class="table table-condensed table-responsive table-striped">
    <thead>
        <tr>
        <th colspan="4">Number</a>
        <th colspan="12">Name</th>
        <th colspan="4">Location</th>
        </tr>
    </thead>
    <tbody>
    {% for team in teams %}
        <tr>
        <td colspan="4"><a href = "https://www.thebluealliance.com/team/{{team.number}}">{{team.number}}</a></td>
        <td colspan="12"><p>{{ team.nickname }}</p></td>
        <td colspan="4"><p>{{ team.city }}, {{ team.state_prov }}, {{ team.country }}</p></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endif %}
{% endif %}
{% endblock content %}