{% extends "front/base.html" %}

{% block content %}
{% if not request.user.is_authenticated %}
  <div class="jumbotron jumbotron-fluid rounded p-3">
  <h1 class="display-4">Welcome to FRCBets!</h1>
  <h2>What is FRCBets?</h2>
  <p>FRCBets was created on the premise of making scouting matches for the <i>FIRST</i>® Robotics Competition a little more fun. By testing your prowess for match prediction, 
FRCBets gives users the chance to compete against each other for points known as "BotBucks 💸". FRCBets allows users to "bet" for the alliances that they think 
will win in any given match. Bet on an "underdog" alliance and win your bet, you'll recieve a larger bonus than if you bet on an expected winner and won. Check the leaderboard
and see how your skills compare to your friends.
  </p>

  <h2>How To Play:</h2>
  <p>You gain points in FRCBets by "betting" in matches. Don't worry, no money is exchanged during the betting process, only "BotBucks 💸". Everyone starts with 1000.00 💸, which can be used 
to place a bet on any given alliance during the duration of an event. FRCBets predicts the outcome of a match before it is played using a simple cumulative OPR for each alliance. We use this data to 
predict the winning margin an alliance might have during a match. Our system automatically places BotBucks on both the predicted winner and loser for every match. There is always incentive to bet on a match, regardless 
of how many people are participating in a match. In addition, the sum of the losing betting pool will be split evenly among the winners.
  </p>
  <hr class="my-4">
  <button class="btn btn-primary btn-lg" type="submit" onclick="location.href='{% url 'register' %}'">Create an Account!</button>
  </div>
{% endif %}

{% if events|length > 0 %}
<h2>Current Events:</h2>
<table class="event-table table-responsive w-auto rounded">
    <colgroup>
        <col width="autos">
        <col width="40%">
    </colgroup>

    <thead>
        <tr>
          <th>Event</th>
          <th>Dates</th>
        </tr>
    </thead>
{% for event in events %}
  
  <tbody class="event-list">
    <tr itemscope itemtype="http://data-vocabulary.org/Event">
      <td>
        <a href="{% url 'event_detail' pk=event.key %}" title="{{ event.name }}" itemprop="url"><span itemprop="summary">{{ event.name }}</span></a>
        
          <br>
          <small>{{ event.city }}, {{ event.state }}</small>
        
      </td>
      <td><time itemprop="startDate" datetime="06-13-2019">{{ event.start_date }}</time> to <time itemprop="endDate" datetime="2019-06-15T00:00:00">{{ event.end_date }}</time></td>
    </tr>
  </tbody>
  
{% endfor %}
</table><br />

{% else %}

<h1>No Events This Week.</h1>
<h2><u>We Will Post Events Here As Soon As They Are Available.</u></h2>
<br />
<h2>What is FRCBets?</h2>
<p>FRCBets was created on the premise of making scouting matches for the <i>FIRST</i>® Robotics Competition a little more fun. By testing your prowess for match prediction, 
FRCBets gives users the chance to compete against each other for points known as "BotBucks 💸". FRCBets allows users to "bet" for the alliances that they think 
will win in any given match. Bet on an "underdog" alliance and win your bet, you'll recieve a larger bonus than if you bet on an expected winner and won. Check the leaderboard
and see how your skills compare to your friends.
</p>

<h2>How To Play:</h2>
<p>You gain points in FRCBets by "betting" in matches. Don't worry, no money is exchanged during the betting process, only "BotBucks 💸". Everyone starts with 1000.00 💸, which can be used 
to place a bet on any given alliance during the duration of an event. FRCBets predicts the outcome of a match before it is played using a simple cumulative OPR for each alliance. We use this data to 
predict the winning margin an alliance might have during a match. Our system automatically places BotBucks on both the predicted winner and loser for every match. There is always incentive to bet on a match, regardless 
of how many people are participating in a match. In addition, the sum of the losing betting pool will be split evenly among the winners.
</p>
{% endif %}

{% endblock content %}

