{% extends "front/base.html" %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <h2>Match {{match.number}} <small> <a href="/event/{{match.event.key}}">{{match.event.name}}</a></small></h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-8" style="margin-top: 1em">
        {% include "front/match_list.html" with matches=matches %}
    </div>
    <div class="container" style="margin-top: 1em">
        <div class="row">
            <div class="col-sm-4 red text-center">
                <h5>Users Betting On Red:</h5>
                <ul class="list-group" style="margin-bottom: 1em">
                    {% for bet in match.get_bet_objects_on_red %}
                        <li class="list-group-item red" ><img style="height:2em " src="{{bet.owner.profile.image.url}}"> <a href = "{% url 'publicProfile' ui=bet.owner %}" itemprop="url"> {{ bet.owner }}</a></li>
                    {% endfor %}
                </ul>
            </div>  
            <div class="col-sm-4 blue text-center">
                <h5>Users Betting On Blue:</h5>
                <ul class="list-group" style="margin-bottom: 1em">
                    {% for bet in match.get_bet_objects_on_blue %}
                        <li class="list-group-item blue" ><img style="height:2em " src="{{bet.owner.profile.image.url}}"> <a href = "{% url 'publicProfile' ui=bet.owner %}" itemprop="url"> {{ bet.owner }}</a></li>
                    {% endfor %}
                </ul>
            </div>  
        </div>
    </div>
</div>
{% endblock content %}