{% load timestamp %}
<table class="match table table-responsive">
    {% if matches %}
    <thead>
        <tr>
        <th rowspan="2">Match</th>
        <th colspan="12">Red Alliance</th>
        <th colspan="4" rowspan="2">Bets</th>
        {% if request.user.is_authenticated %}
            <th colspan="4" rowspan="2">
                {% if is_my_bets_page %}
                    My Bets
                {% else %}
                    <a href="/my-bets">My Bets</a>
                {% endif %}
            </th>
        {% endif %}
        <th colspan="4" rowspan="2">Bet Time Left</th>
        </tr>
        <tr>
        <th colspan="12">Blue Alliance</th>
        </tr>
    </thead>
    <tbody>
    
    {% for match in matches %}
        <tr class="{{match.id}}">
        <td rowspan="2"><a href = "{% url 'match_detail' mt=match.key %}" title="{{ match.number }}" itemprop="url"><span itemprop="summary">
            {% if show_match_key %}
                {{ match.event.key }} {{ match.key }}
            {% else %}
                {{ match.key }}
            {% endif %}
        </span></a></td>
        <td class = "red" colspan="4"><a href = "https://www.thebluealliance.com/team/{{match.red0}}">{{match.red0}}</a></td>
        <td class = "red" colspan="4"><a href = "https://www.thebluealliance.com/team/{{match.red1}}">{{match.red1}}</a></td>
        <td class = "red" colspan="4"><a href = "https://www.thebluealliance.com/team/{{match.red2}}">{{match.red2}}</a></td>
        <td class = "red" colspan="4" id="redBet">{{match.get_bets_on_red|stringformat:"1.2f"}} 💸</td>
        {% if match.user_bet is not None and match.user_bet.placed_on == 'R'%}
            <td id="userBet" class = "red" colspan="4" rowspan="2">
                <button type="button" class="btn btn-light update-bet" data-toggle="modal" data-target="#modifyBetModal" onclick="setMatch({{match.id}})">
                    {{match.user_bet.amount|stringformat:"1.2f"}} 💸 on <b>red</b>
                </button>
            </td>
        {% elif match.user_bet is not None and match.user_bet.placed_on == 'B'%}
            <td id="userBet" class = "blue" colspan="4" rowspan="2">
                <button type="button" class="btn btn-light update-bet" data-toggle="modal" data-target="#modifyBetModal" onclick="setMatch({{match.id}})">
                    {{match.user_bet.amount|stringformat:"1.2f"}} 💸 on <b>blue</b>
                </button>
            </td>
        {% elif request.user.is_authenticated %}
            {% if match.is_betting_open %}
                <td id="userBet" colspan="4" rowspan="2">
                    <button type="button" class="btn btn-primary place-bet" data-toggle="modal" data-target="#betModal" onclick="setMatch({{match.id}})">
                        Place bet
                    </button>
                </td>
            {% else %}
                <td id="userBet" colspan="4" rowspan="2">
                </td>
            {% endif %}
        {% endif %}
        {% load static %}
        <td rowspan="2" class="time-left">{{ match.time|timestamp }}</td>
        </tr>
        
        <tr class="{{match.id}}">
        <td class = "blue" colspan="4"><a href = "https://www.thebluealliance.com/team/{{match.blue0}}">{{match.blue0}}</a></td>
        <td class = "blue" colspan="4"><a href = "https://www.thebluealliance.com/team/{{match.blue1}}">{{match.blue1}}</a></td>
        <td class = "blue" colspan="4"><a href = "https://www.thebluealliance.com/team/{{match.blue2}}">{{match.blue2}}</a></td>
        <td class = "blue" colspan="4" id="blueBet">{{match.get_bets_on_blue|stringformat:"1.2f"}} 💸</td>
        </tr>
        
    {% endfor %}
    </tbody>
</table>
    {% else %}
    <p>No Matches To Display Yet, Check Back Later!</p>
    {% endif %}

<div class="modal fade" id="betModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Place Bet on <p class="match-title">No match set. If you see this, something bad has happened!</p></h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <form class="form-group" onsubmit="sendPost();return false">
            {% include "front/bet_form.html" %}

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
            </div>
        </form>
      </div>
    </div>
</div>

<div class="modal fade" id="modifyBetModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modify/Delete Bet on <p class="match-title">No match set. If you see this, something bad has happened!</p></h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <form class="form-group" onsubmit="sendPostModify();return false">
            {% include "front/bet_form.html" %}

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="sendPostDelete()">🗑 Delete️</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
            </div>
        </form>
      </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'front/scripts/ws4redis.js' %}"></script>
<script type="text/javascript" src="{% static 'front/scripts/betsocket.js' %}"></script>

<script type="text/javascript" src="{% static 'front/scripts/countdown.js' %}"></script>
