{% extends "front/base.html" %}
{% block content %}

<div class="row">
    <div class="col-sm-8" >
        <h2>Completed bets from {{ event_name }}:</h2>
    </div>
</div>

<div class="col-sm-8" >
    {% if event_bets %}
             {% include "front/completed_match_list.html" with matches=event_bets is_my_bets_page=True show_match_key=False %}
        {% else %}
            <p>You don't have any active bets from this event. Come back later.</p>
        {% endif %}
</div>
{% endblock content %}