{% extends "front/base.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-8" >
        <h2>Active bets:</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-8" >
        {% if matches_active %}
             {% include "front/match_list.html" with matches=matches_active is_my_bets_page=True show_match_key=True %}
        {% else %}
            <p>You don't have any active bets yet. Come back later.</p>
        {% endif %}
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-8" >
        <h2>Completed bets:</h2>
    </div>
</div>

<div class="col-sm-8" >
    {% if events %}
    <table class="event-table table-responsive w-auto">
    <colgroup>
        <col width="auto">
        <col width="40%">
    </colgroup>
    <thead>
        <tr>
          <th>Event</th>
          <th>Dates</th>
        </tr>
    </thead>
        {% for event in events %}
            <tbody class="event-list">
            <tr itemscope itemtype="http://data-vocabulary.org/Event">
              <td>
                <a href="{% url 'my_bets_events' ev=event.name %}" title="{{ event.name }}" itemprop="url"><span itemprop="summary">{{ event.name }}</span></a>
                
                  <br>
                  <small>{{ event.city }}, {{ event.state }}</small>
                
              </td>
              <td><time itemprop="startDate" datetime="06-13-2019">{{ event.start_date }}</time> to <time itemprop="endDate" datetime="2019-06-15T00:00:00">{{ event.end_date }}</time></td>
            </tr>
          </tbody>
        {% endfor %}
        </table><br />
    {% else %}
        <p>You don't have any completed bets yet. Come back later.</p>
    {% endif %}
</div>
{% endblock content %}