{% extends "front/base.html" %}
{% load static %}
{% block content %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#betModal">
Place bet
</button>
<div class="modal fade" id="betModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Place Bet</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="alliance" value="R">Red
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="alliance" value="B">Blue
              </label>
            </div>
            
            <label for="amount">Amount:</label>
            <input type="text" class="form-control" id="amount">

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="sendPost()">Submit</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
      </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="{% static 'front/scripts/ws4redis.js' %}"></script>
<script type="text/javascript" src="{% static 'front/scripts/client-websocket-test.js' %}"></script>
{% endblock scripts %}