{% extends "front/base.html" %}
{% block content %}
<h2>FRCBets would like to thank the following:</h2>
<hr>
<h4><a href="http://thebluealliance.com">The Blue Alliance</a></h4>
<p>For their well documented API, hosting the data we use, and inspiring much of this website's design.</p>

<h4><a href="https://github.com/frc1418/tbapy">TBApy</a></h4>
<p>For the awesome python package to interface with The Blue Alliance API.</p>




{% endblock content %}